<h1> Artists </h1>
<ul> 
	<% 
		Artist::ARTISTS.each do |artist|  
	%> 
	<li>
	<a href=<%="/artists/#{artist.name.gsub(" ", "_")}"%>>
		<%= 
			"#{artist.name}: #{artist.songs.size} Songs" 
		%>
	</a>
	</li>
	<% end %>
</ul>