<ul> 
	<% 
		Genre::GENRES.each do |genre|  %> 
		<li>
		<a href=<%="/genres/#{genre.name}"%>>	
			<%= 
				"#{genre.name.capitalize}: #{genre.artists.size} Artists"
			%>
		</a>
		</li>
	<% end %>
</ul>