<ul> 
	<h2> <%= @genre_name %> </h2>
		<% 
			searched = Genre::GENRES.detect{|genre| genre.name.upcase == @genre_name.upcase}
			searched.songs.each do |song|
		%>
		<li>
			<%= 
				"#{song.name}" 
			%>
		</li>
		<%end%>
</ul> 



