<h1> Songs </h1>
<ul> 
	<% 
		Artist::ARTISTS.each do |artist|
			artist.songs.each do |song|  
	%>
		<a href=<%="/songs/#{song.name.gsub(" ", "_")}"%>> 
		<li>
			<%= 
				"#{song.name}" 
			%>
		</li>
		</a>
		<% end %>
	<% end %>
</ul>